# -*- mode: makefile -*-

# ocamlc compilation flags
OCAMLFLAGS = -bin-annot -g

OCAMLFLAGS_BYTE =
OCAMLFLAGS_NATIVE = -inline 5 #-unsafe -noassert

OCAMLBUILD=ocamlbuild -use-ocamlfind $(OCAMLFLAGS:%=-cflag %) -ocamlc "ocamlfind ocamlc $(OCAMLFLAGS_BYTE)" -ocamlopt "ocamlfind ocamlopt $(OCAMLFLAGS_NATIVE)"

# C compilation flags
#-Werror-implicit-function-declaration
CCOPT_COMMON =\
-I.. -I../cuddaux -I../cudd-2.4.2/cudd -I../cudd-2.4.2/mtr -I../cudd-2.4.2/epd -I../cudd-2.4.2/st -I../cudd-2.4.2/util \
-DSIZEOF_VOID_P=8 -DSIZEOF_LONG=8 -DSIZEOF_INT=4 \
-DHAVE_IEEE_754 \
-Wcast-qual -Wswitch \
-Wall -Wextra -Wundef -Wbad-function-cast -Wcast-align -Wstrict-prototypes \
-Wno-unused \
-std=c99 \
-fPIC -m64 \
-flat_namespace -undefined suppress \
-g

CCOPT = $(CCOPT_COMMON) -O3 -DNDEBUG

CCOPT.D = $(CCOPT_COMMON) -O0 -UNDEBUG \
-DDD_DEBUG -DDD_VERBOSE -DDD_STATS -DDD_CACHE_PROFILE -DDD_UNIQUE_PROFILE -DDD_COUNT \
-DMTR_DEBUG

CCOPT.P = $(CCOPT_COMMON) -O3 -pg -UNDEBUG

CCOPTS = $(CCOPT:%=-ccopt %)
CCOPTS = $(CCOPT:%=-ccopt %)
CCOPTS = $(CCOPT:%=-ccopt %)

LATEX=latex
DVIPDF=dvipdf
MAKEINDEX=makeindex
